<!DOCTYPE HTML>

<html>

<table border='0' cellspacing='0' cellpadding='2' style='border-top:solid 1px #000000; border-left:solid 1px #000000;'>
<meta charset="utf-8">
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Название</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Адрес</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Описание</td>
</tr>

{% for cafe in cafes %}
	<tr>
	<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>{{ cafe.name }}</td>
	<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>{{ cafe.address }}</td>
	<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>{{ cafe.description }} </td>
	</tr>
{% endfor %}

</table>
<html>
